@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(//fonts.googleapis.com/css?family=Titillium+Web:300);

.bubble {
  font-family: arial;
  font-size: 10pt;
}

*{
  font-family: arial;
}

html{
  background-color: #2371b3!important;
}

#menu{
  position: absolute !important;
  z-index: 10 !important;
  margin: 5px 0px 0px 5px !important;
}

#menu > img{
  cursor: pointer;
  transition: width 0.2s linear;
}

#menu > img:hover{
  width: 90px;
}

#map_canvas, #changesBar{
  transition: height 1s linear;
}

#loader2 {
  position: fixed;
  z-index: 1100;
  background-color: #2371b3;
  transition: width 1s linear, height 1s linear, opacity 1s linear;
  margin: 0 auto !important;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
}

table, tr, td {
  font-family: arial;
  font-size: 9pt;
}

hr {
  border:1;
}

.div_fixa {
  position:fixed;
  top: 10px;
  left: calc(50% - 125px);
}

h3 {
  font-family: arial;
}

a{
  text-decoration: none;
  color: green;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background: white;
  font-weight: bold;
}

.news {
  transition: opacity 500ms linear, max-height 500ms linear;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2d862d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.changesBarLine{
  text-shadow:2px 2px 4px #000000 !important; 
  margin-bottom:1px !important; 
  font-weight:bold !important; 
  padding-left:1% !important; 
  width:99% !important;  
  color:white !important; 
  vertical-align: middle !important
}

.changesBarLine.up{
  background:#159415 !important;
    font-family: times;
}

.changesBarLine.war{
  background:#c5d200 !important;
    font-family: times;
}

.changesBarLine.crit{
  background:#ff6a00 !important;
    font-family: times;
}

.changesBarLine.down{
  background:#770101 !important;
    font-family: times;
}

.changesBarLine.unk{
  background:#A9ABAE !important;
    font-family: times;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .09s linear;
transition:width .09s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.main-menu li a > span {
  color: #fff;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.gmnoprint{
  display: none !important;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5f5f5f;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(//themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.select2-selection.select2-selection--multiple {
    min-height: 100px;
}

.select2-container {
  z-index: 1061;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
input + span > img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  margin: 5px !important;
  padding: 5px !important;
  box-shadow: 0px 0px 9px 0px transparent;
}
input:checked + span > img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #7ac564;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px #888888;
}

.swal2-radio{
  display: table !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #45494e;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 90%;
  height: 1.6em;
  background: #45494e;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #313131;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.al62x43{
  min-width: 62px !important;
  min-height: 43px !important;
}
.al113x114{
  min-width: 113px !important;
  min-height: 114px !important;
}
.al142x100{
  min-width: 142px !important;
  min-height: 100px !important;
}
.al122x122{
  min-width: 122px !important;
  min-height: 122px !important;
}
.al318x100{
  min-width: 318px !important;
  min-height: 100px !important;
}
.load{
  background: transparent url('img/imgLoader.gif') center no-repeat;
}
#tudo{
  width: 200px;
  margin: 0 auto;
}
#sizeView{
  position:relative;
  float: right;
  width: 122px;
  height: 122px;
}
#changesBarView{
  width: 100%;
  position: absolute;
  height: 25%;
  bottom: 0px;
  z-index: 1;
  background-color: black;
}
.line{
  width: 100%;
  height: 5px;
  margin: 0px 0px 1px 0px;
}

.line.war{
  background:#c5d200 !important;
}

.line.crit{
  background:#ff6a00 !important;
}

.line.down{
  background:#770101 !important;
}
#view{
  float: right;
}
.slider.slider-vertical{
  height: 122px !important;
}
.slider-track-high {
  background: #BABABA !important;
}