/* 
*	NagMap Reborn Live Preview
*	Developed by: João Carlos Rodrigues Ribeiro
*	18/08/2018 - 13:31:20
*	See the project: https://github.com/jocafamaka/nagmapReborn
*/
body {
	background: #1F222E;
	font-family: "Open Sans","Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.8;
	font-weight: 400;
	letter-spacing: 0;
	height: 100%
}

iframe{
	position: fixed !important;
	margin: 0 !important;
	border: 0 !important;
}

body.flat {
	background: #8471d7
}

body,html {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	width: 100%
}

strong,b {
	font-weight: 700
}

p {
	font-family: "Open Sans","Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.8;
	color: #FFFFFF;
	font-weight: 400;
	text-align: center
}

.content {
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	position: relative;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center
}

.content .content-box {
	width: auto;
	position: relative
}

.content .content-box .big-content {
	position: relative;
	width: 100%;
	min-height: 22rem
}

#map_canvas {
	position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: -10
}



/*Cookie Consent Begin*/
#cookieConsent {
	background-color: rgba(20,20,20,0.8);
	min-height: 26px;
	font-size: 14px;
	color: #ccc;
	line-height: 26px;
	padding: 8px 0 8px 30px;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 9999;
}
#cookieConsent a {
	color: #4B8EE7;
	text-decoration: none;
}
#closeCookieConsent {
	float: right;
	display: inline-block;
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: -15px 0 0 0;
	font-weight: bold;
}
#closeCookieConsent:hover {
	color: #FFF;
}
#cookieConsent a.cookieConsentOK {
	background-color: #F1D600;
	color: #000;
	display: inline-block;
	border-radius: 5px;
	padding: 0 20px;
	cursor: pointer;
	float: right;
	margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
	background-color: #E0C91F;
}
/*Cookie Consent End*/


a {
	text-decoration: none;
	color: #2196f3;
	font-weight: 600;
	cursor: pointer; 
}

.swal2-footer > a:hover {
	text-decoration: underline; 
}

.sr {
	width: 0;
	height: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.btn {
	position: relative;
	display: inline-block;
	margin: 5px 10px;
	padding: 17px 22px;
	width: 120px;
	z-index: 1;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-size: 11px;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	line-height: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: bold;
}
.btn .hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
}
.btn .hover span {
	position: relative;
	display: block;
	left: -15px;
	height: 10px;
	width: 0;
	content: '';
}
.btn .hover span:after {
	position: absolute;
	display: block;
	right: -10px;
	width: 10px;
	height: 10px;
	background: #fff;
	content: '';
}
.btn .hover span:nth-child(odd):after {
	background: rgba(0, 0, 0, 0.35);
}
.btn .hover span:first-child {
	left: -75px;
	transition: all 0.3s steps(8);
}
.btn .hover span:nth-child(2) {
	left: -45px;
	transition: all 0.325s steps(8);
}
.btn .hover span:nth-child(3) {
	left: -55px;
	transition: all 0.35s steps(8);
}
.btn .hover span:nth-child(4) {
	transition: all 0.4s steps(8);
}
.btn .hover span:nth-child(5) {
	left: -25px;
	transition: all 0.375s steps(8);
}
.btn:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 4px;
	z-index: -2;
	content: '';
}
.btn:hover {
	color: #fff;
}
.btn:hover, .btn:focus {
	color: #fff;
}
.btn:hover .hover span:first-child, .btn:focus .hover span:first-child {
	width: calc(100% + 76px);
}
.btn:hover .hover span:first-child:after, .btn:focus .hover span:first-child:after {
	animation: whiteBlack 0.3s 0s 1;
}
.btn:hover .hover span:nth-child(2), .btn:focus .hover span:nth-child(2) {
	width: calc(100% + 46px);
	transition: all 0.375s steps(8);
}
.btn:hover .hover span:nth-child(2):after, .btn:focus .hover span:nth-child(2):after {
	animation: whiteBlack 0.3s 0.06s 1 reverse backwards;
}
.btn:hover .hover span:nth-child(3), .btn:focus .hover span:nth-child(3) {
	width: calc(100% + 56px);
	transition: all 0.35s steps(8);
}
.btn:hover .hover span:nth-child(3):after, .btn:focus .hover span:nth-child(3):after {
	animation: whiteBlack 0.3s 0.05s 1 forwards;
}
.btn:hover .hover span:nth-child(4), .btn:focus .hover span:nth-child(4) {
	width: calc(100% + 16px);
	transition: all 0.3s steps(8);
}
.btn:hover .hover span:nth-child(4):after, .btn:focus .hover span:nth-child(4):after {
	animation: whiteBlack 0.3s 0s 1 reverse backwards;
}
.btn:hover .hover span:nth-child(5), .btn:focus .hover span:nth-child(5) {
	width: calc(100% + 26px);
	transition: all 0.325s steps(8);
}
.btn:hover .hover span:nth-child(5):after, .btn:focus .hover span:nth-child(5):after {
	animation: whiteBlack 0.3s 0.07s 1 forwards;
}
.btn.green {
	background: #2b8adc;
	margin-left: 105px !important;
}
.btn.green span, .btn.green:after {
	background: #2371b3;
}
@media (min-width: 48em) {
	.btn {
		padding: 18px 30px;
		font-size: 12px;
		font-size: 1rem;
		font-weight: bold;
	}
	.btn:after {
		height: 6px;
	}
}

@-webkit-keyframes whiteBlack {
	0%,
	24% {
		background: #fff;
	}
	25%,
	49% {
		background: rgba(0, 0, 0, 0.35);
	}
	50%,
	74% {
		background: #fff;
	}
	75%,
	100% {
		background: rgba(0, 0, 0, 0.35);
	}
}
@-moz-keyframes whiteBlack {
	0%,
	24% {
		background: #fff;
	}
	25%,
	49% {
		background: rgba(0, 0, 0, 0.35);
	}
	50%,
	74% {
		background: #fff;
	}
	75%,
	100% {
		background: rgba(0, 0, 0, 0.35);
	}
}
@-ms-keyframes whiteBlack {
	0%,
	24% {
		background: #fff;
	}
	25%,
	49% {
		background: rgba(0, 0, 0, 0.35);
	}
	50%,
	74% {
		background: #fff;
	}
	75%,
	100% {
		background: rgba(0, 0, 0, 0.35);
	}
}
@keyframes whiteBlack {
	0%,
	24% {
		background: #fff;
	}
	25%,
	49% {
		background: rgba(0, 0, 0, 0.35);
	}
	50%,
	74% {
		background: #fff;
	}
	75%,
	100% {
		background: rgba(0, 0, 0, 0.35);
	}
}

label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}
input + span > img{ /* IMAGE STYLES */
	cursor:pointer;
	border:2px solid transparent;
	margin: 5px !important;
	padding: 5px !important;
	box-shadow: 0px 0px 9px 0px transparent;
}
input:checked + span > img{ /* (RADIO CHECKED) IMAGE STYLES */
	border:2px solid #7ac564;
	border-radius: 5px;
	box-shadow: 0px 0px 9px 0px #888888;
}

.swal2-radio{
	display: table !important;
}

@media only screen and (max-width: 400px) {
	bhtml,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline
	}

	body {
		line-height: 1
	}

	html {
		font-size: 62.5%
	}
	.swal2-popup{
		min-width: 400px !important;
	}
}

@media screen and (max-device-width: 667px) and (orientation: landscape) {
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline
	}

	body {
		line-height: 1
	}

	html {
		font-size: 62.5%
	}
	.swal2-popup{
		min-width: 400px !important;
	}
}

#loader {
	position: fixed;
	border-radius: 50%;
	z-index: 1000;
	display: none;
	background-color: #2371b3;
	transition: width 1s linear, height 1s linear, opacity 1s linear;
	margin: 0 auto !important;
	width: 20px;
	height: 20px;
}